@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --primary-color: #8b0000;
  --secondary-color: #556b2f;
  --accent-color: #ffd700;
  --background-color: #2f4f4f;
  --text-color: #98fb98;
  --border-color: #daa520;
  --square-bg: #000000;
  --square-hover: #1a1a1a;
}

body {
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}
